@import url(//fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "./variables/font"

@import "milligram-stylus"

error
    display: flex
    justify-content: center
    align-items: center

.has-text-center
    text-align: center