.login-container
.register-container
    position relative
    display flex
    height 100%
    width 100%
    flex-direction column
    justify-content center
    align-items center
    background $primary
    .login
    .register-container
        border 1px solid darken($primary,20%)
        background $white
        padding 2rem 3.3rem 2.6rem 2rem
        border-radius  .2rem .2rem 2.6rem .2rem
    h1
        position absolute 
        top 1rem
        left 0
        padding 2rem 3.6rem